@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: "Roboto";
  font-size: 18px;
  color: rgba(0, 0, 0, 1);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  overflow-x: hidden;
  outline: none;

  user-select: none;
}
