.main-container {
  position: relative;
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  app-header {
    position: static;
    top: 0;
  }
  app-footer {
    position: absolute;
    bottom: 0;
  }
}
