<div>
  <h2>Game Code</h2>
  <input value="{{ gameCode }}" #copyEl readonly />
  <button (click)="copyToClipBoard(copyEl)">Copy Code</button>

  <div>
    <h5>{{ this.player.nickName }}</h5>
    <h4>{{ calculatePercentageDone(this.player) }}</h4>
    <h4>{{ this.player.WPM.toFixed(2) }} WPM</h4>
  </div>

  <br /><br />
  <!-- other players -->
  <div *ngFor="let otherPlayers of players">
    <div *ngIf="otherPlayers != this.player">
      <h5>{{ otherPlayers.nickName }}</h5>
      <h4>{{ calculatePercentageDone(otherPlayers) }}</h4>
      <h4>{{ otherPlayers.WPM.toFixed(3) }} WPM</h4>
    </div>
  </div>

  <button *ngIf="startBtnShow" (click)="startGame()">Start</button>

  <div *ngIf="showTimer">{{ timer.countDown }}</div>
  <div *ngIf="showTimer">{{ timer.msg }}</div>

  <!-- !change to external stylesheets later -->
  <div style="display: inline-flex; background-color: rgb(72, 252, 72)">
    {{ getTypedWords() }}
  </div>
  <div style="display: inline-flex; background-color: rgb(253, 255, 109)">
    {{ getCurrentWord() }}
  </div>
  <div style="display: inline-flex">
    {{ getWordsToBeTyped() }}
  </div>
  <input
    type="text"
    name="userInput"
    #userInput
    [ngModel]
    required
    placeholder="Type here ..."
    [disabled]="userInputDisabled"
    (ngModelChange)="userInputChanged($event)"
    autocomplete="off"
    autofocus
  />

  <!-- <div *ngFor="let word of totalWords">{{ word }}</div> -->

  <div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>User</th>
          <th>WPM</th>
        </tr>
      </thead>
      <tbody *ngFor="let player of players; index as i">
        <tr>
          <th>{{ i + 1 }}</th>
          <td>{{ player.nickName }}</td>
          <td>{{ player.WPM.toFixed(3) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
