<div class="main-container">
  <div class="progress">
    <div class="currentPlayer">
      <h5>{{ this.player.nickName | titlecase }}</h5>
      <h4>{{ calculatePercentageDone(this.player) }}</h4>
      <h4>{{ this.player.WPM.toFixed(3) }} WPM</h4>
    </div>

    <!-- other players -->
    <div *ngFor="let otherPlayers of players" class="otherPlayer">
      <div *ngIf="otherPlayers != this.player">
        <h5>{{ otherPlayers.nickName | titlecase }}</h5>
        <h4>{{ calculatePercentageDone(otherPlayers) }}</h4>
        <h4>{{ otherPlayers.WPM.toFixed(3) }} WPM</h4>
      </div>
    </div>
  </div>

  <button
    class="fancy-button pop-onhover bg-gradient"
    *ngIf="startBtnShow"
    (click)="startGame()"
  >
    <span> Start </span>
  </button>

  <div *ngIf="showTimer" class="timer-container">
    <span class="timer">{{ timer.countDown }}</span>
  </div>

  <div class="words">
    <span class="typedWords" *ngFor="let typedWords of getTypedWords()">
      {{ typedWords }}
    </span>
    <span class="currentWord">
      {{ getCurrentWord() }}
    </span>
    <span
      class="wordsToBeTyped"
      *ngFor="let wordsToBeTyped of getWordsToBeTyped()"
    >
      {{ wordsToBeTyped }}
    </span>
  </div>

  <input
    type="text"
    name="userInput"
    #userInput
    [ngModel]
    required
    placeholder="Type here ..."
    [disabled]="userInputDisabled"
    (ngModelChange)="userInputChanged($event)"
    autocomplete="off"
    autofocus
  />

  <div class="gameCode">
    <h4>Game Code</h4>
    <input value="{{ gameCode }}" #copyEl readonly />
    <button
      class="fancy-button pop-onhover bg-gradient"
      (click)="copyToClipBoard(copyEl)"
    >
      <span> Copy Code </span>
    </button>
  </div>
  <!-- <div *ngFor="let word of totalWords">{{ word }}</div> -->

  <div class="dataTable">
    <table>
      <thead>
        <tr>
          <th class="rank">Rank</th>
          <th class="name">Name</th>
          <th class="WPM">WPM</th>
        </tr>
      </thead>
      <tbody *ngFor="let player of players; index as i">
        <tr>
          <th class="rank">{{ i + 1 }}</th>
          <td class="name">{{ player.nickName | titlecase }}</td>
          <td class="WPM">{{ player.WPM.toFixed(4) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
