.main-container {
  label {
    padding: 0 1rem;
  }
  input {
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-radius: 1rem;
  }
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}
