<div class="main-container">
  <form #joinGame (ngSubmit)="onSubmit(joinGame)">
    <label for="gameID">GameID</label>
    <input
      type="text"
      name="gameID"
      [(ngModel)]="gameID"
      required
      placeholder="Enter GameID"
      autocomplete="off"
    />

    <label for="nickName">Nickname</label>
    <input
      type="text"
      name="nickName"
      [(ngModel)]="nickName"
      required
      placeholder="Enter Nickname"
      autocomplete="off"
    />
    <button type="submit">Submit</button>
  </form>
</div>
